.events {
  background-color: white;
  text-align: center;
}

.ev-items {
  display: inline-grid;
  grid-template-columns: auto auto auto auto;
  gap: 2vw;
  margin-top: 50px;
}

.ev-item {
  width: 300px;
  height: 400px;
}

.flower-border {
  position: absolute;
  top: -50px;
  left: -55px;
}

@media only screen and (max-width: 1024px) {
  .ev-items {
    display: block;
  }

  .ev-item {
    padding: 10px;
    width: 150px;
    height: 200px;
  }
}
